/* ----- HEADER ----- */

.header {
  position: relative;
  border-bottom: 1px solid #ececec;
  /*outline: 1px solid tomato;*/
}

.header__logo {
  // margin-right: 93px;
}

.navigation__button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;

  display: inline-flex;
  @extend %flexcenter;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  @include mq(tablet) {
    display: none;
  }

  // &:hover .navigation__icon,
  // &:focus .navigation__icon {
  //   fill: var(--accent-color);
  // }
}

.navigation__icon {
  @include transition(fill);
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.navigation__icon--cross {
  display: none;

  .navigation__button.is-open & {
    display: block;
  }
}

.navigation__button.is-open .navigation__icon--menu {
  display: none;
}

.navigation {
  padding-top: 16px;
  padding-bottom: 16px;
}

.navigation__menu {
  // display: none;
  // position: fixed;
  // top: 0;
  // left: 0;
  // padding: 48px 40px;
  // width: 100%;
  // height: 100%;
  // background-color: #fff;

  // &.is-open {
  //   display: flex;
  //   flex-direction: column;
  // }
}

.navigation__list {
}

.header__container,
.navigation,
.navigation__list {
  // @extend %flexcenter;
}

.navigation__link {
  // position: relative;
  // padding-top: 32px;
  // padding-bottom: 32px;

  color: var(--primary-font-color);
  @include font(40px, 500, 1.18, 0.02em);
  @include transition(color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @include mq(tablet) {
    @include font(14px, 500, 1.14, 0.02em);
  }
}

.navigation__link--current {
  // color: var(--accent-color);

  // &::after {
  //   position: absolute;
  //   left: 0;
  //   bottom: 0;

  //   display: block;
  //   content: "";
  //   width: 100%;
  //   height: 4px;
  //   background-color: var(--accent-color);
  //   border-radius: 2px;
  //   margin-bottom: -1px;
  // }
}

.navigation__item {
  // margin-right: 50px;

  &:not(:last-child) {
    margin-bottom: 32px;
  }
  // &:last-child {
  //   margin-right: 0;
  // }
}

.header-contacts {
  margin-top: auto;
  margin-bottom: 64px;
  // @extend %flexcenter;
  // margin-left: auto;
}

.header-contacts__item {
  // margin-right: 50px;

  &:not(:last-child) {
    margin-bottom: 32px;
  }

  &:last-child {
    color: var(--description-font-color);
  }

  // &:last-child {
  //   margin-right: 0;
  // }
}

.header-contacts__link {
  // padding-top: 32px;
  // padding-bottom: 32px;
  // color: var(--description-font-color);

  // @extend %flexcenter;

  color: var(--description-font-color);
  @include transition(color);

  @include font(24px, 500, 1.18, 0.02em);
  &:hover,
  &:focus {
    color: var(--accent-color);
    font-size: 40px;
  }

  @include mq(tablet) {
    @include font(14px, 500, 1.14, 0.02em);
  }
}

.header-contacts__icon {
  @include mq(mobile-only) {
    display: none;
  }
  // margin-right: 10px;
  // fill: currentColor;
}

.header-socials {
  display: flex;

  @include mq(tablet) {
    display: none;
  }
}

.header-socials__item {
  &:not(:last-child) {
    margin-right: 10px;
  }

  &:not(:last-child).header-socials__item::after {
    content: "";
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
    margin-left: 10px;
  }
}

.header-socials__link {
  @include font(18px, 500, 1.22, 0.02em);
  color: var(--accent-color);
}
